<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.EasyAnatomy" android:versionCode="1"
          android:versionName="1.0">
    <application android:icon="@drawable/body_icon" android:label="@string/app_name">
        <activity android:name="com.example.EasyAnatomy.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.EasyAnatomy.about.AboutActivity"
                  android:label="@string/about_title"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="com.example.EasyAnatomy.HumanActivity"
                  android:label="@string/learn_label"/>
        <activity android:name="com.example.EasyAnatomy.human_activity.BrainActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="@string/brain_title"/>
        <activity android:name="com.example.EasyAnatomy.human_activity.LungsActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="@string/lungs_title"/>
        <activity android:name="com.example.EasyAnatomy.human_activity.HeartActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="@string/heart_title"/>
        <activity android:name="com.example.EasyAnatomy.test.ChooseTestActivity"/>
        <activity android:name="com.example.EasyAnatomy.test.StartTestActivity"/>
        <activity android:name="com.example.EasyAnatomy.results.ResultsActivity"/>
        <activity android:name="com.example.EasyAnatomy.test.CongratsResultActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="@string/congrats"/>
    </application>
</manifest>
