<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.EasyAnatomy" android:versionCode="1"
          android:versionName="1.0">
    <application android:icon="@drawable/body_icon" android:label="@string/app_name">
        <activity android:name="com.example.EasyAnatomy.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".atlas.AtlasActivity"
                  android:configChanges="orientation"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name=".atlas.InfoActivity"
                  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name="com.example.EasyAnatomy.test.ChooseTestActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.example.EasyAnatomy.test.StartTestActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.example.EasyAnatomy.results.ResultsActivity"
                  android:label="@string/results_text"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.example.EasyAnatomy.about.AboutActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="@string/about_label"/>
        <activity android:name="com.example.EasyAnatomy.test.CongratsResultActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:label="@string/congrats"/>
    </application>
</manifest>
